.reset__form {
  width: 500px;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  .form__reset {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;

    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    .form-control:focus {
      z-index: 2;
    }

    input[type='email'] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    a {
      display: block;
      padding-top: 10px;
      color: lightseagreen;
    }
    p {
      text-align: center;
    }

    button[type='submit'] {
      margin: 10px auto;
      display: flex;
    }

    .navigate {
      display: flex;
      justify-content: space-between;
    }
  }
}
